<header class="site-header">
	<ul class="nav__main clearfix mobile">
		<li>
			<a href='{{ "/" | prepend: site.baseurl }}'>
				<i class="icon-home"></i>
				<span>Home</span>
			</a>
		</li>
		<li >
			<a href="">
				<i class="icon-stats"></i>
				<span class="stats">Stats</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-work"></i>
				<span>Work</span>
			</a>
		</li>
		<li>
			<a href="">
				<i class="icon-contact"></i>
				<span>Contact</span>
			</a>
		</li>
		<li>
			<a href="{{ '..assets/files/' | prepend: site.baseurl }}" download="cv.png" title="ImageName">
				<i class="icon-cv"></i>
				<span>CV</span>
			</a>
		</li>
	</ul>
</header>
