@-webkit-keyframes triggerOpen {
    from {left: 9.3rem;}
    to {left: 22rem;}
}

/* Standard syntax */
@keyframes triggerOpen {
    from {left: 9.3rem;}
    to {left: 22rem;}
}

@-webkit-keyframes triggerClose {
	form {left: 22rem;}
    to {left: 9.3rem;}
}

/* Standard syntax */
@keyframes triggerClose {
	form {left: 22rem;}
    to {left: 9.3rem;}
}

.site-header {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: -0.8rem;
	z-index: 1;

	@media #{$large-up} {
		display: none;
	}
}

.nav__main {
	width: 100%;
	display: inline-block;
	background: $color__cta--bg;
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;

	li {
		text-transform: uppercase;
		border-right: lighten($color__cta--bg, 20%) solid 1px;
		padding: 1.7rem 0;
		color: white;
		font-family: $font__heading--secondary;
		display: inline-block;
		width: 20%;
		float: left;
		vertical-align: bottom;

		@media #{$large-up} {
		    display: block;
		    width: 100%;
		    text-align: left;

		    border-right: none;
		    border-bottom: lighten($color__cta--bg, 20%) solid 1px;
		}

		&:hover {
			background: white;

			i,
			span {
				color: $primary-color;
			}
		}

		&:last-child {
			border-right: none;
		}

		span,
		i {
			text-align: center;
			display: block;
			color: white;

			@media #{$large-up} {
			    text-align:left;
			    display: inline-block;
			}
		}

		span {
			font-family: $font__heading--secondary;

			@media #{$large-up} {
			    vertical-align: bottom;
			    padding-left: 1.5rem;
		        padding-top: 0.7rem;
			}
		}

		i {
			margin: 0 auto;
			font-size:  2.7rem;;

			@media #{$large-up} {
			    margin: 0;
			    float: left;
		        padding-left: 2.5rem;
			}
		}
	}
}

.desktop-nav {
	 display: none;

	@media #{$large-up} {
		display: block;
	    position: fixed;
	    width: 16rem;
		z-index: 1;
		height: 100%;
	}
}

.nav__main.desktop {
	display: none;
	height: 100%;
	background: $primary-color;
    padding-top: 2rem;

    li:first-child {
    	border-top: lighten($color__cta--bg, 20%) solid 1px;
    }
}

.trigger {
	@media #{$small-up} {
	    display: none;
	}

	@media #{$large-up} {
	    display: block;
	    top: 2.1rem;
	}

	position: fixed;
	left: 16rem;
	top: 0;
	width: 13rem;
	text-align: center;

	background: url($image-path + 'header/nav-trigger.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    text-decoration: none;

    &:hover {
    	text-decoration: none;
    	background: url($image-path + 'header/nav-trigger-hovered.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;

		h3 {
			color: $primary-color;
		}
    }

	h3 {
		font-family: $font__heading--main;
		font-size: 3.4rem;
		line-height: 2.7rem;
		color: white;
		width: 11rem;

		margin-bottom: 0;
		padding: 1rem 0 1rem 0;

		span {
			color: inherit;
			font-size: 2.7rem;
			line-height: 2.7px;
			font-family: $font__heading--secondary;
		}
	}
}