@-webkit-keyframes triggerOpen {
    from {left: 9.3rem;}
    to {left: 22rem;}
}

/* Standard syntax */
@keyframes triggerOpen {
    from {left: 9.3rem;}
    to {left: 22rem;}
}

@-webkit-keyframes triggerClose {
	form {left: 22rem;}
    to {left: 9.3rem;}
}

/* Standard syntax */
@keyframes triggerClose {
	form {left: 22rem;}
    to {left: 9.3rem;}
}

.site-header {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: -0.8rem;
	z-index: 1;

	@media #{$large-up} {
		display: none;
	}
}

.nav__main {
	width: 100%;
	display: inline-block;
	background: $color__cta--bg;
	margin-left: 0;
	margin-bottom: 0;
	list-style: none;



	li {
		text-transform: uppercase;
		border-right: lighten($color__cta--bg, 20%) solid 1px;
		padding: 1rem 0;
		color: white;
		font-family: $font__heading--secondary;
		display: inline-block;
		width: 20%;
		float: left;
		vertical-align: bottom;

		@media #{$large-up} {
		    display: block;
		    width: 100%;
		    text-align: left;

		    border-right: none;
		    border-bottom: lighten($color__cta--bg, 20%) solid 1px;
		}

		&:last-child {
			border: none;
		}

		span,
		img {
			text-align: center;
			display: block;

			@media #{$large-up} {
			    text-align:left;
			    display: inline-block;
			}
		}

		span {
			color: white;
			font-family: $font__heading--secondary;

			@media #{$large-up} {
			    vertical-align: bottom;
			    padding-left: 1.5rem;

			    &.stats {
			    	padding-left: 0.8rem;
			    }
			}
		}

		img {
			margin: 0 auto;

			@media #{$large-up} {
			    margin: 0;
			    float: left;
		        padding-left: 2.5rem;
			}
		}
	}
}

.desktop-nav {
	 display: none;

	@media #{$large-up} {
		display: block;
	    position: fixed;
	    width: 16rem;
		z-index: 1;
	}
}

.nav__main--trigger {

	position: fixed;
	display: none;

	h1 {
		position: absolute;
	    left: 1.1rem;
	    top: 0.6rem;

		font-size: 3.4rem;
		line-height: 2.7rem;
		color: white;

		span {
			color: inherit;
			font-size: 2.7rem;
			line-height: 2.7px;
			font-family: $font__heading--secondary;
		}
	}
	&.triggered {
	    left: 22rem;
	    @include animation(triggerOpen, 0.5s, cubic-bezier(0.65, 0.05, 0.36, 1) );
	}
}