body.page-home {

	.content-wrapper {
	    padding-bottom: 5rem;
	    text-align: center;
	}

	.feature {
		background: url( $image-path + 'home_cover.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		position: relative;
		margin-bottom: 7rem;


		.page-title {
			display: inline-block;
			margin: 0 auto;
			padding-top: 13%;
			padding-bottom: 40%;
			position: relative;

		}
	}

	.intro {
		margin: 0 auto;
		padding: 0 2rem;

		@media #{$large-up} {
			padding: 0;
		    width: 68rem;
		}
	}

	.projects {
		margin-top: 3.5rem;

		.item-wrap {
			position: relative;
			width: 100%;
			display: inline-block;
			float: left;
			clear: none;

			@media #{$medium-up} {
			    width: 33.33333%;
			}

			img {
				display: block;
				width: 100%;

				@include transition(ease-in-out, 0.5s);
			}

			&:hover {

				img {
					@include transition(ease-in-out, 0.5s);
				    @include greyscale(90%);
				}
			}

			article {
				width: 100%;
				position: absolute;
				bottom: -1px;

				background: rgba(255, 255, 255, 0.8);
				padding: 3rem 0;

				p {
					padding: 0 6.2rem;
				}

				.cta {
					width: 24rem;
				}
			}
		}
	}

	.contact {

		.cta {
			width: 45%;

			@media #{$large-up} {
			    width: 38rem;
			}
		}
	}
}