.body-content-wrapper.post {
	padding: 8rem 3rem 0;
	margin: 0 auto;

	@media #{$large-up} {
		padding: 6rem 0 0;
	    width: 75rem;
	}

	.row {
		@media #{$medium-up} {
		    padding-bottom: 6.5rem;

		    &:last-child {
		    	padding-bottom: 0;
		    }
		}

		&--zeropadding {
			padding: 0;
		}
	}

	.hr {
		width: 100%;
	}

	.project__image {
		&--devices {
			margin: 0 auto;
			display: block;
		}

		&--second {

			@media #{$medium-up} {
				width: 50%;
			}

			&.full {
				width: 100%;
			}
		}
	}

	.left.project__copy--second {
		padding-left: 0;
	}

	.right.project__image--second {
		@media #{$large-up} {
			padding-left: 5rem;
		}
	}

	.project__copy {

		&--second {
			padding-top: 1rem;
			@media #{$medium-up} {
				width: 50%;
				padding-top: 0;
				padding-left: 5rem;
			}

			&.full {
				width: 100%;
				padding-left: 0;
				padding-top: 4rem;
			}
		}
	}

	.image__wrapper {
		text-align: center;

		img {
			@media #{$large-up} {
			    width: 90%;
			}
		}

		p {
			@extend %italic;

			a {
				color: $primary-color;
			}
		}

		.reveal-modal {
			padding: 2rem;

			img {
				width: 100%;
			}
		}
	}

	.more {

		> h3 {
			text-align: center;
			margin-bottom: 7rem;
		}

		&__block {
			text-align: center;
			width: 100%;

			@extend .clearfix;

			@media #{$large-up} {
			    width: 50%;
			}

			.cta {
				color: white;
			}
		}
	}
}